html {
    font-size: 62.5%;
}

body {
    background-color: #23252C;
    width: 320px;
    margin: 30px auto;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 1.6rem;
}

img {   
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}


#main--container {
    background-color: #1A1B21;
    color: white;
    text-align: center;
    padding: 21px 35px 35px;
}

.main--name {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: 30px;
    margin: 6px;
    color: inherit;
}

.main--title {
    color: #F3BF99;
    line-height: 15px;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 10px 0 12px;
}

.portfolio:visited {
    color: white;
}

.portfolio {
    color: #F5F5F5;
    text-decoration: none;
    margin-top: 5px;
    font-size: 1.2rem;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 33px;
}

.linkedIn {
    background-color: #5093E2;
    color: #ffffff;
}

button {
    text-decoration: none;
}

.fa-linkedin, .fa-github {
    padding: 0 8px 0 0;
}

.github:hover, .linkedIn:hover {
    cursor: pointer;
}

.github, .linkedIn {
    width: 115px;
    height: 34px;
    margin-top: 15px;
    padding: 9px 13px 9px 11px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


#primary--info {
    text-align:left;
}

.main--about, .main--interests {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 150%;
    color: #DCDCDC;
}

.footer--icons {
    background-color: #161619;
    height: 64px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #918E9B;
}

a:visited {
    color: #918E9B;
}